Flask==3.1.0
psutil==7.0.0
requests==2.32.3
slack_sdk==3.35.0
python-dotenv==1.1.0
Flask-SQLAlchemy==3.1.1
## The following requirements were added by pip freeze:
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colorclass==2.2.2
docopt==0.6.2
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pip-upgrader==1.4.15
SQLAlchemy==2.0.40
terminaltables==3.1.10
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3